server:
  port: 8081

spring:
  application:
    name: flogin-backend-docker
  
  datasource:
    auth:
      jdbc-url: ${AUTH_DB_URL:jdbc:oracle:thin:@oracle-db:1521/XEPDB1}
      username: ${AUTH_DB_USERNAME:auth_user}
      password: ${AUTH_DB_PASSWORD:AuthPassword123}
      driver-class-name: oracle.jdbc.OracleDriver
    product:
      jdbc-url: ${PRODUCT_DB_URL:jdbc:postgresql://postgres-db:5432/products}
      username: ${PRODUCT_DB_USERNAME:product_user}
      password: ${PRODUCT_DB_PASSWORD:ProductPassword123}
      driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect:
          auth: org.hibernate.dialect.OracleDialect
          product: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework: INFO
    com.flogin: INFO
